/** GENERAL STYLE **/
body {
	font-size: 12px;
	font-family: "Lucida Grande", "Lucida Sans Unicode", Verdana, Arial, Helvetica, sans-serif;
	text-transform: normal;
	word-wrap: break-word;
}

a:link, a:visited {
	color: #0062A0;
	text-decoration: none;
}

a:hover {
	text-decoration: underline;
}

p {
	display:block;
	margin: 0 0 10px 0;
}

div#page {
	background: #EFEFEF url(../images/body-gray.png) repeat-y;
	background-position:50% 50%;
}

h1 {
	color: #4A7389;
	font-family: Georgia, "Times New Roman", Times, serif;
	font-size: 2.571em; /* 36px */
	font-style: normal;
	font-variant: normal;
	font-weight: 400;
	letter-spacing: 0;
	text-align: left;
	text-decoration: none;
	text-indent: 0;
	text-transform: none;
	margin: 0;
	padding: 0;
}

blockquote {
	font-style: italic;
	font-weight: bold;
	margin: 0;
	padding-left: 50px;
	min-height: 50px;
	background: url('../images/blockquote.jpg') top left no-repeat;
	color: #797979;
	padding-top: 15px;
}

.red {
	color: #FF0000;
}
/** END: GENERAL STYLE **/

/** REGION MENU **/

#region-menu {
	z-index: 1;
	position: relative;
	padding-bottom: 1em;
	font-size: 1.167em; /* 14px */
	font-family: "Futura Book", "Futura Light", "Futura", "Futura Medium", "FuturaMedium", "Gill Sans", "Helvetica", "Arial", sans-serif;
}

#region-menu ul.main-menu {
	background: none;
	border: 0;
	width: 100%;
}

#region-menu ul.main-menu li a {
	border:0;
	color: #000000;
	background: none;
}

#region-menu ul.main-menu li {
	border-bottom: 3px solid #EFEFEF;
	background: none;
}

#region-menu ul.main-menu li.active,
#region-menu ul.main-menu a.active,
#region-menu ul.main-menu li.active-trail {
	color: #d61d00;
	border-color: #d61d00;
}

#region-menu ul.main-menu li a:hover {
	color: #AAACAF;
}

#region-menu ul.main-menu li.has-subitems {
	background-image: url('../images/iconic/gray_light/play_6x8.png');
	background-repeat:no-repeat;
	background-position:center right;
}

#region-menu ul.secondary-items {
	background-color: #FFFFFF;
	border: 3px solid #EFEFEF;
	-webkit-border-bottom-right-radius: 5px;
	-webkit-border-bottom-left-radius: 5px;
	-moz-border-radius-bottomright: 5px;
	-moz-border-radius-bottomleft: 5px;
	border-bottom-right-radius: 5px;
	border-bottom-left-radius: 5px;
}

#region-menu ul.secondary-items li {
	border: 0;
}

.page-gsearch-result .content-region h1,
h2.block-title {
	font-family: "Futura Book", "Futura Light", "Futura", "Futura Medium", "FuturaMedium", "Gill Sans", "Helvetica", "Arial", sans-serif;
}

.page-gsearch-result .content-region h1 {
	font-size: 1.25em; /* 15px */
}

body.page-taxonomy .content-zone h1 {
	display: none;
}

body.page-taxonomy .breadcrumb {
	border-left: 3px solid #4A7389;
	padding: 0 10px;
	font-family: "Futura Book", "Futura Light", "Futura", "Futura Medium", "FuturaMedium", "Gill Sans", "Helvetica";
	font-size: 0.857em;
	line-height: 1em;
	margin-bottom: 10px;
}

body.page-taxonomy .breadcrumb a.active {
	font-size: 1.333em;
}

/** END: REGION MENU **/

/** CONTEXTUAL LINKS **/

div.contextual-links-active {
	z-index: 9999;
}

a.contextual-links-trigger:link,
a.contextual-links-trigger:visited {
	color: #FFFFFF;
	text-indent: -9999px;
}

/** END: CONTEXTUAL LINKS **/



/** TERMS SECTIONS **/

body.page-taxonomy .node {
	padding: 10px 0;
}

body.page-taxonomy .node.first,
body.page-taxonomy .node.over {
	border-bottom: 1px solid #DDDDDD;
}

body.page-taxonomy .submitted {
	text-align: right;
}

body.page-taxonomy .node .field-name-field-short {
	font-size: 1.167em;
	line-height: 1.25em;
}

body.page-taxonomy .node a.field-location {
	text-transform: uppercase;
	font-weight: bold;
	color: #000000;
}

body.page-taxonomy .node h2.node-title {
	font-size: 1.333em;
	line-height: 1.333em;
	margin-bottom: 5px;
}

body.page-taxonomy .node .field-type-media {
	float: right;
}

body.page-taxonomy .node .field-type-media img {
	border: 2px solid #DDDDDD;
	padding: 0;
	margin: 5px;
}

body.page-taxonomy .node.first .field-type-media img {
	border: 0;
	padding: 0;
	margin: 0;	
}

body.page-taxonomy .node.first .field-type-media {
	float: left;
	margin: 0 10px 5px 0;
}

/** END TERM SECTIONS **/

/** NODE ARTICLES FULL **/

.article.full-view.node {
	border-bottom: 0;
}

.article.full-view.node p {
	margin-bottom: 20px;
}

.article.full-view.node .submitted {
	height: 15px;
}

.article.full-view.node .submitted .author {
	float: left;
}

.article.full-view.node .submitted .date {
	float: right;
}

.article.full-view .field-name-body {
	font-size: 1.25em; /* 15px */
	line-height: 1.5em;
}

.article.full-view img{
	float: left;
	display: block;
	clear: left;
	margin: 5px 10px 10px 0; 
}

.article.full-view .field-name-body iframe {
	width: 550px;
	height: 340px;
	margin: 5px 0;
}

.article.full-view a.field-location {
	text-transform: uppercase;
	font-weight: bold;
	color : #000000;
}

.article.full-view .field-name-field-short {
	display: block;
	color: #797979;
	font-family: 'Georgia-Italic', Georgia, "Times New Roman", Times, serif;
	font-size: 1.5em;
	font-style: italic;
	line-height: 1.5em;
	text-align: left;
	margin-bottom: 5px;
	padding: 0;
}

.submitted {
	color: #797979;
	font-size: 11px;
	font-weight: normal;
	font-style: normal;
}

.article.full-view .field-name-field-tags {
	padding: 5px 0 5px 15px;
	background-color: #EFEFEF;
	border-top : 1px dotted #DDDDDD;
	border-bottom : 1px dotted #DDDDDD;
	margin: 15px 0;
}

.article.full-view .field-name-field-tags span {
	color: #696969;
}

.article.full-view .field-name-field-tags .field-items .field-item {
	/* float: left;*/
	display: inline-block;
	margin: 0 5px 0 0;
}

.article.full-view .fb-comments-title {
	font-family: "lucida grande",tahoma,verdana,arial,sans-serif;
	color: #3B5998;
	font-size: 1.333em;
	margin: 20px 0;
}

.article.full-view .field-type-node-reference .field-item {
	line-height: 1.833em; /* 22px */
}

/** END: NODE ARTICLES FULL **/

/** BLOCKS **/

.block {
	margin-top: 10px;
}

/** END: BLOCKS **/

/** TABS **/

/** END: TABS **/

/** USER TOOLBAR **/

#user-toolbar {
	height: 26px;
	padding: 3px;
	background: #000000;
	-moz-box-shadow: 0 3px 10px black;
	-webkit-box-shadow: 0 3px 10px black;
	box-shadow: 0 3px 10px black;
	filter: progid:DXImageTransform.Microsoft.Shadow(color=black, direction='180', strength='10');
	-ms-filter: "progid:DXImageTransform.Microsoft.Shadow(color=black, direction='180', strength='10')";
	z-index: 10;
}

#user-toolbar ul {
	margin: 0;
	height: 26px;
	padding: 3px;
	line-height: 20px;
}

#user-toolbar ul li {
	color: #FFFFFF;
	float: right;
	display: inline;
	position: relative;
	margin: 0 5px 0 0;
}

#user-toolbar ul li a {
	color: #FFFFFF;
	font-weight: bold;
}

#user-toolbar-login {
	width: 200px;
	z-index: 9999;
	background: #000000;
	overflow: hidden;
	position: absolute;
	padding: 10px;
	right: -10px;
	-webkit-border-bottom-right-radius: 5px;
	-webkit-border-bottom-left-radius: 5px;
	-moz-border-radius-bottomright: 5px;
	-moz-border-radius-bottomleft: 5px;
	border-bottom-right-radius: 5px;
	border-bottom-left-radius: 5px;
	display: none;
}

#user-toolbar-login .form-item input {
	width: 190px;
}

#user-toolbar-login .form-actions {
	text-align: center;
}

#user-toolbar-login .form-actions input {
	cursor: pointer;
	color: #FFFFFF;
	line-height: 30px;
}

#google-search {
	float: right;
	width: 180px;
	height: 16px;
	margin: 5px;
	position: relative;
}

#google-search form {
	display: inline;
}

#google-search input.searchbox {
	width: 180px;
	height: 20px;
}

#google-search input.searchbox_submit {
	border:0px; /*important*/
	background-color:transparent; /*important*/
	position:absolute; /*important*/
	top:2px;
	right:5px;
	width:16px;
	height:16px;	
}

/** END: USER TOOLBAR **/

/** PAGE TITLE **/
	
.page-contact h1.title {
	font-family: Delicious, Verdana, Arial;
	text-align: center;
}

/** END: PAGE TITLE **/

/** RECAPTCHA **/



/** END: RECAPTCHA **/

/** ICONS **/

#message-container .close,
#console .close {
	position: absolute;
	height: 11px;
	width: 11px;
	top: 5px;
	right: 5px;
	background: url('../images/iconic/gray_light/x_11x11.png') no-repeat center left;
	cursor: pointer;
}

#message-container .close.hover,
#console .close.hover {
	background: url('../images/iconic/gray_dark/x_11x11.png') no-repeat center left;
}

#user-toolbar ul li a.logout-link,
#user-toolbar ul li a.login-link {
	display: block;
	text-indent: -9999px;
}

#user-toolbar ul li a.logout-link {
	height: 12px;
	width: 12px;
	background: url('../images/iconic/gray_light/x_alt_12x12.png') no-repeat;
}

#user-toolbar ul li a.logout-link:hover {
	background: url('../images/iconic/red/x_alt_12x12.png') no-repeat;
}

#user-toolbar ul li a.login-link {
	height: 16px;
	width: 16px;
	background: url('../images/iconic/gray_light/user_12x16.png') no-repeat;
}

#user-toolbar ul li a.login-link:hover {
	background: url('../images/iconic/green/user_12x16.png') no-repeat;
}

.block-firstpage .field-type-node-reference .field-item {
	background: url('../images/iconic/red/info_4x8.png') no-repeat center left;
}

/** END: ICONS **/

/** EFFECTS **/

.alpha60 {
	/* Fallback for web browsers that doesn't support RGBa */
	background: rgb(0, 0, 0);
	/* RGBa with 0.6 opacity */
	background: rgba(0, 0, 0, 0.6);
	/* For IE 5.5 - 7*/
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#99000000, endColorstr=#99000000);
	/* For IE 8*/
	-ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr=#99000000, endColorstr=#99000000)";
	filter: alpha(opacity=60);
}

/** END: EFFECTS **/

div.status {
	background-color: #BBEE77;
}

div.messages {
	margin: 0;
}

/** START: FIELDS **/

.block-firstpage .field-type-node-reference .field-item {
	padding-left: 10px;
	font-size: 0.857em;
}

/** END: FIELDS **/

/** SOCIAL BOX **/

.box {
	min-height: 23px;
	position: relative
	line-height: 1.429em; /* 20px */
	padding: 5px 0 5px 15px;
	background-color: #EFEFEF;
	margin-bottom: 10px;
	border-top : 1px dotted #DDDDDD;
	border-bottom : 1px dotted #DDDDDD;
}

.social .tw-share {
	float: right;
}
.social .fb-like {
	float: left;
}

/** END: SOCIAL BOX **/


/** BLOCK: RELEVANT-CONTENT +  **/

#block-node-recent ul,
#block-relevant-content-related-type ul {
	list-style-type: disc;
	list-style-image: url('../images/iconic/red/cd_8x8.png');
	list-style-position: outside;
}

#block-node-recent h2.block-title,
#block-relevant-content-related-type h2.block-title {
	margin-bottom: 10px;
	text-align: right;
}

#block-node-recent ul li,
#block-relevant-content-related-type ul li {
	margin-bottom: 4px;
	padding-bottom: 5px;
	border-bottom: 1px solid #EFEFEF;
	line-height: 1.143em;
}

/** END: RELEVANT-CONTENT **/

.not-front .region-sidebar-first {
	background-color : #EFEFEF;
	padding-bottom: 20px;
}

/** START : FOOTER **/

#block-articles-main-footer {
	font-family: "Futura Book", "Futura Light", "Futura", "Futura Medium", "FuturaMedium", "Gill Sans", "Helvetica", "Arial", sans-serif;
	color: #383838;
	background-color: #EFEFEF;
	padding: 15px;
}

#block-articles-main-footer .reg,
#block-articles-main-footer .info {
	margin-bottom: 20px;
}

#block-articles-main-footer .cc {
	font-size: 0.857em;
	line-height: 1.143em;
	background: url('../images/logo-creative-commons.gif') left center no-repeat;
	padding-left: 50px;
	height: 40px;
}

#block-articles-main-footer .cc p {
	margin: 0;
	padding: 5px 0;
}

/** END : FOOTER **/

/** FIRSTPAGE BLOCKS **/

.block-firstpage .node {
	margin: 10px;
	border: 0;
	border-bottom : 1px solid #DDDDDD;
	padding: 0;
	position: relative;
}

.block-firstpage .content .field-name-field-short{
	padding-bottom : 5px;
	line-height: 1.333em;
}

.block-firstpage ul.links li {
	float: right;
}

.block-firstpage ul li.last .content {
	border-bottom : 0;
}

.block-firstpage .time {
	color: red;
}

.block-firstpage .node h2.node-title {
	font-size: 1.083em;
	line-height: 1.167em;
	margin-bottom: 5px;
}

.block-firstpage {
	border: 1px solid #DDDDDD;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
}

.block-firstpage h2.block-title{
	font-family: "Futura Book", "Futura Light", "Futura", "Futura Medium", "FuturaMedium", "Gill Sans", "Helvetica", "Arial", sans-serif;
	font-size: 1.071em;
	text-align: right;
	font-variant: small-caps;
	padding: 0 5px;
}

.block-firstpage .node img {
	float: right;
	margin-left: 3px;
	border: 2px solid #DDDDDD;
}

/** END: FIRSTPAGE BLOCKS **/

/** FIELDS **/

.block-firstpage a.field-location {
	text-transform: uppercase;
	font-weight: bold;
	color : #000000;
}

.block-firstpage .field-type-node-reference {
	margin-top: 5px;
}

.block-firstpage .field-type-node-reference .field-item {
	padding-left: 10px;
}

/** END: FIELDS **/

.block-firstpage .section-link a {
	float: right;
	margin: 0 10px 5px 0;
	display: block;
	height: 12px;
	width: 12px;
	background-image: url('../images/iconic/gray_light/arrow_right_alt1_12x12.png');
	background-repeat:no-repeat;
	background-position:center right;
	font-weight: bold;
	color: #404040;
}

.block-firstpage .section-link a:hover {
	background-image: url('../images/iconic/red/arrow_right_alt1_12x12.png');	
}

/* rubriche */

#block-firstpage-rubriche {
	border-color: #EFEFEF;
	background-color: #EFEFEF;
}

#block-firstpage-rubriche .node a {
	/* text-shadow: 0px 1px 1px rgba(0, 0, 0, 0.3); */
}

#block-firstpage-rubriche .node h2 {
	width: 210px;
	float: right;
}

#block-firstpage-rubriche .node {
	margin: 5px 10px;
	padding: 0 0 5px 0;
	border-bottom: 0;
}

#block-firstpage-rubriche .node img,
#block-firstpage-culturaspettacolo .node img {
	border: 0;
	float: left;
}

/* culturaspettacolo */

#block-firstpage-culturaspettacolo {
	border-color: #EFEFEF;
	background-color: #EFEFEF;
}

#block-firstpage-culturaspettacolo .node {
	height: 80px;
	border-bottom: 0;
}

#block-firstpage-culturaspettacolo .node h2 a {
	font-size: 0.917em;
	color: #FFFFFF;
}

#block-firstpage-culturaspettacolo .node h2 {
	position: absolute;
	padding: 5px;
	margin: 0;
	width: 268px;
	bottom: 0;
	left: 3px;
	background: rgb(0, 0, 0);
	background: rgba(0, 0, 0, 0.6);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#99000000, endColorstr=#99000000);
	-ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr=#99000000, endColorstr=#99000000)";
	filter: alpha(opacity=60);
}

