/** FONTS **/
@font-face {
    font-family: 'FuturaLT';
    src: url('../fonts/futuralt-webfont.eot');
    src: url('../fonts/futuralt-webfont.eot?#iefix') format('eot'),
         url('../fonts/futuralt-webfont.woff') format('woff'),
         url('../fonts/futuralt-webfont.ttf') format('truetype'),
         url('../fonts/futuralt-webfont.svg#webfontkPxSRfGH') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'FuturaLT';
    src: url('../fonts/futuralt-boldoblique-webfont.eot');
    src: url('../fonts/futuralt-boldoblique-webfont.eot?#iefix') format('eot'),
         url('../fonts/futuralt-boldoblique-webfont.woff') format('woff'),
         url('../fonts/futuralt-boldoblique-webfont.ttf') format('truetype'),
         url('../fonts/futuralt-boldoblique-webfont.svg#webfontj7G1Wg5A') format('svg');
    font-weight: bold;
    font-style: italic, oblique;

}
@font-face {
    font-family: 'FuturaLT';
    src: url('../fonts/futuralt-bold-webfont.eot');
    src: url('../fonts/futuralt-bold-webfont.eot?#iefix') format('eot'),
         url('../fonts/futuralt-bold-webfont.woff') format('woff'),
         url('../fonts/futuralt-bold-webfont.ttf') format('truetype'),
         url('../fonts/futuralt-bold-webfont.svg#webfonttHXEhdAB') format('svg');
    font-weight: bold;
    font-style: normal;
}
@font-face {
    font-family: 'FuturaLT';
    src: url('../fonts/futuralt-oblique-webfont.eot');
    src: url('../fonts/futuralt-oblique-webfont.eot?#iefix') format('eot'),
         url('../fonts/futuralt-oblique-webfont.woff') format('woff'),
         url('../fonts/futuralt-oblique-webfont.ttf') format('truetype'),
         url('../fonts/futuralt-oblique-webfont.svg#webfontKkQwwvC1') format('svg');
    font-weight: normal;
    font-style: italic, oblique;
}

/** GENERAL STYLE **/
body {
	font-size: 12px;
	font-family: "Lucida Grande", "Lucida Sans Unicode", Verdana, Arial, Helvetica, sans-serif;
	text-transform: normal;
	word-wrap: break-word;
}

strong {font-weight: bold;}

em {font-style: italic;}

a:link, a:visited {
	color: #0062A0;
	text-decoration: none;
}

a:hover {
	text-decoration: underline;
}

p {
	display:block;
	margin: 0 0 10px 0;
}

div#page {
	background: #EFEFEF url(../images/body-gray.png) repeat-y;
	background-position:50% 50%;
}

h1 {
	color: #4A7389;
	font-family: Georgia, "Times New Roman", Times, serif;
	font-size: 2.583em;
	font-style: normal;
	font-variant: normal;
	font-weight: 400;
	letter-spacing: 0;
	text-align: left;
	text-decoration: none;
	text-indent: 0;
	text-transform: none;
	margin: 0;
	padding: 0;
	line-height: 1.29em;
}

blockquote {
	font-style: italic;
	font-weight: bold;
	margin: 0;
	padding-left: 50px;
	min-height: 50px;
	background: url('../images/blockquote.jpg') top left no-repeat;
	color: #797979;
	padding-top: 15px;
}

.red {
	color: #FF0000;
}
/** END: GENERAL STYLE **/

/** REGION MENU **/

#region-menu {
	z-index: 1;
	position: relative;
}

#region-menu ul.main-menu {

	background: none;
	border: 0;
	width: 100%;
	margin: 0;
}

#region-menu ul.main-menu.sf-navbar {
	margin: 10px 0 0 0;
}

.sf-menu li:hover ul, .sf-menu li.sfHover ul {
left: 0;
top: 1.167em;
z-index: 99;
}

#region-menu ul.main-menu li a {
	font-size: 1.25em; /* 15px */
	font-family: "FuturaLT", "Helvetica", "Arial", sans-serif;
	border:0;
	padding: 0.5em 0.75em;
	color: #000000;
	background: none;
}

#region-menu ul.main-menu li {
	/*border-bottom: 3px solid #EFEFEF;*/
	background: none;
}

#region-menu ul.main-menu li.active,
#region-menu ul.main-menu a.active,
#region-menu ul.main-menu.secondary-items li a.active,
#region-menu ul.main-menu li.active-trail a {
	color: #d61d00;
}

#region-menu ul.main-menu.secondary-items li a {
	color: #000000;
}

#region-menu ul.main-menu li a:hover {
	color: #AAACAF;
}

#region-menu ul.main-menu li.has-subitems {
	background-image: url('../images/iconic/gray_light/play_6x8.png');
	background-repeat:no-repeat;
	background-position:center right;
}

#region-menu ul.secondary-items {
	background-color: #FFFFFF;
	border: 3px solid #EFEFEF;

	-webkit-border-bottom-right-radius: 5px;
	-webkit-border-bottom-left-radius: 5px;
	-moz-border-radius-bottomright: 5px;
	-moz-border-radius-bottomleft: 5px;
	border-bottom-right-radius: 5px;
	border-bottom-left-radius: 5px;
}

#region-menu ul.secondary-items li {
	border: 0;
}

.page-gsearch-result .content-region h1,
h2.block-title {
	font-family: "FuturaLT", "Helvetica", "Arial", sans-serif;
	font-variant: small-caps;
	font-size: 1.25em;
}

.page-gsearch-result .content-region h1 {
	font-size: 1.25em; /* 15px */
}

body.page-taxonomy .content-zone h1 {
	display: none;
}

body.page-taxonomy .breadcrumb {
	border-left: 3px solid #4A7389;
	padding: 0 10px;
	font-family: "FuturaLT", "Helvetica";
	font-size: 0.857em;
	line-height: 1em;
	margin-bottom: 10px;
}

body.page-taxonomy .breadcrumb a.active {
	font-size: 1.333em;
}

/** END: REGION MENU **/

/** CONTEXTUAL LINKS **/

div.contextual-links-active {
	z-index: 9999;
}

a.contextual-links-trigger:link,
a.contextual-links-trigger:visited {
	color: #FFFFFF;
	text-indent: -9999px;
}

/** END: CONTEXTUAL LINKS **/



/** TERMS SECTIONS **/

body.page-taxonomy .node {
	padding: 10px 0;
}

body.page-taxonomy .node.first,
body.page-taxonomy .node.over {
	border-bottom: 1px solid #DDDDDD;
}

body.page-taxonomy .submitted {
	margin-top: 10px;
	text-align: right;
}

body.page-taxonomy .node .field-name-field-short {
	font-size: 1em;
	line-height: 1.5em;
}

a.field-location {
	text-transform: uppercase;
	font-weight: bold;
	color: #606060;
}

body.page-taxonomy .node h2.node-title {
	font-size: 1.333em;
	line-height: 1.333em;
	margin-bottom: 5px;
}

body.page-taxonomy .node .field-type-media {
	float: right;
}

body.page-taxonomy .node .field-type-media img {
	border: 2px solid #DDDDDD;
	padding: 0;
	margin: 5px;
}

body.page-taxonomy .node.first .field-type-media img {
	border: 0;
	padding: 0;
	margin: 0;	
}

body.page-taxonomy .node.first .field-type-media {
	float: left;
	margin: 0 10px 5px 0;
}

/** END TERM SECTIONS **/

/** NODE ARTICLES FULL **/

.article.full-view.node {
	border-bottom: 0;
}

.article.full-view.node .submitted {
	height: 15px;
	margin-bottom: 5px;
}

.article.full-view.node .submitted .author {
	float: left;
}

.article.full-view.node .submitted .date {
	float: right;
}

.article.full-view .field-name-body {
	font-size: 1.167em; /* 14px */
	line-height: 1.5em
}

.article.full-view img{
	float: left;
	display: block;
	clear: left;
	margin: 5px 10px 10px 0; 
}

.article.full-view .field-name-body iframe {
	width: 550px;
	height: 340px;
	margin: 5px 0;
}

.article.full-view .field-name-field-short {
	display: block;
	color: #797979;
	font-family: 'Georgia-Italic', Georgia, "Times New Roman", Times, serif;
	font-size: 1.5em;
	font-style: italic;
	line-height: 1.5em;
	text-align: left;
	margin-bottom: 15px;
	padding: 0;
}

.submitted {
	color: #797979;
	font-size: 11px;
	font-weight: normal;
	font-style: normal;
}

.article.full-view .field-name-field-tags {
	padding: 0;
	background-color: #EFEFEF;
	border-top : 1px dotted #DDDDDD;
	border-bottom : 1px dotted #DDDDDD;
	margin: 15px 0;
}

.article.full-view .field-name-field-tags .field-items .field-item {
	/* float: left;*/
	display: inline;
	margin: 0 5px 0 0;
}

.article.full-view .fb-comments-title {
	font-family: "lucida grande",tahoma,verdana,arial,sans-serif;
	color: #3B5998;
	font-size: 1.333em;
	margin: 20px 0;
}

.article.full-view .field-type-node-reference .field-item {
	line-height: 1.833em; /* 22px */
}

/** END: NODE ARTICLES FULL **/

/** BLOCKS **/

.block {
	margin-top: 10px;
}

/** END: BLOCKS **/

/** TABS **/

/** END: TABS **/

/** USER TOOLBAR **/

#user-toolbar {
	height: 24px;
	line-height: 24px;
	background: #000000;
	-moz-box-shadow: 0 3px 10px black;
	-webkit-box-shadow: 0 3px 10px black;
	box-shadow: 0 3px 10px black;
	filter: progid:DXImageTransform.Microsoft.Shadow(color=black, direction='180', strength='10');
	-ms-filter: "progid:DXImageTransform.Microsoft.Shadow(color=black, direction='180', strength='10')";
	/*z-index: 10;*/
}

#user-toolbar ul {
	margin: 0;
	height: 24px;
	font-family: Arial, Verdana;
	color: #DDDDDD;
	font-weight: bold;
	font-size: 0.917em;
}

#user-toolbar ul li {
	float: right;
	display: inline;
	position: relative;
	margin: 0 5px 0 0;
}

#user-toolbar ul li a {
	color: #DDDDDD;
}

#user-toolbar .social-links {
	float: left;

	height: 24px;
}

#user-toolbar .social-links span {
	display: inline-block;
	height: 24px;
	line-height: 24px;
	vertical-align:top;
	zoom:1;
	*display: inline;
	_height: 24px;
	margin-right: 5px;
}

#user-toolbar ul li a.logout-link,
#user-toolbar ul li a.login-link,
#user-toolbar .social-links a {
	display:inline-block;
	height: 16px;
	width: 16px;
	margin: 4px 3px;
	zoom:1;
	*display: inline;
	*_height: 16px;
}

#user-toolbar .social-links a.tw-page {
	background: url('../images/twitter_16.png') no-repeat center center transparent;
}
#user-toolbar .social-links a.fb-page {
	background: url('../images/facebook_16.png') no-repeat center center transparent;
}
#user-toolbar .social-links a.rss-page {
	background: url('../images/rss_16.png') no-repeat center center transparent;
}
#user-toolbar .social-links a.yt-page {
	background: url('../images/youtube_16.png') no-repeat center center transparent;
}

#user-toolbar .contact-link a {
	padding-left: 20px;
	background: #000000 url('../images/email_16.png') no-repeat left center;
}

#user-toolbar .social-links a:hover {
	-webkit-box-shadow: 0 0 8px #FFFFFF;
	-moz-box-shadow: 0 0 8px #FFFFFF;
	-o-box-shadow: 0 0 8px #FFFFFF;
	box-shadow: 0 0 8px #FFFFFF;
}

#google-search {
	float: right;
	width: 180px;
	/*margin: 2px;*/
	position: relative;
}

#google-search form {
	display: inline;
}

#google-search input.searchbox {
	width: 180px;
	height: 14px;
}

#google-search input.searchbox_submit {
	border:0px; /*important*/
	background-color:transparent; /*important*/
	position:absolute; /*important*/
	top:5px;
	right:2px;
	width:16px;
	height:16px;	
}

/** END: USER TOOLBAR **/

/** ICONS **/

#message-container .close,
#console .close {
	position: absolute;
	height: 11px;
	width: 11px;
	top: 5px;
	right: 5px;
	background: url('../images/iconic/gray_light/x_11x11.png') no-repeat center left;
	cursor: pointer;
}

#message-container .close.hover,
#console .close.hover {
	background: url('../images/iconic/gray_dark/x_11x11.png') no-repeat center left;
}

#user-toolbar ul li a.logout-link {
	background: url('../images/iconic/gray_light/x_alt_12x12.png') no-repeat;
}

#user-toolbar ul li a.logout-link:hover {
	background: url('../images/iconic/red/x_alt_12x12.png') no-repeat;
}

#user-toolbar ul li a.login-link {
	background: url('../images/iconic/gray_light/user_12x16.png') no-repeat;
}

#user-toolbar ul li a.login-link:hover {
	background: url('../images/iconic/green/user_12x16.png') no-repeat;
}

.block-firstpage .field-type-node-reference .field-item {
	background: url('../images/iconic/red/info_4x8.png') no-repeat center left;
}

/** END: ICONS **/

/** EFFECTS **/

.alpha60 {
	/* Fallback for web browsers that doesn't support RGBa */
	background: rgb(0, 0, 0);
	/* RGBa with 0.6 opacity */
	background: rgba(0, 0, 0, 0.6);
	/* For IE 5.5 - 7*/
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#99000000, endColorstr=#99000000);
	/* For IE 8*/
	-ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr=#99000000, endColorstr=#99000000)";
	filter: alpha(opacity=60);
}

/** END: EFFECTS **/

div.status {
	background-color: #BBEE77;
}

div.messages {
	margin: 0;
}

/** START: FIELDS **/

.block-firstpage .field-type-node-reference .field-item {
	padding-left: 10px;
	font-size: 0.857em;
}

/** END: FIELDS **/

/** SOCIAL BOX **/

.box {
	position: relative;
	padding: 3px 15px;
	background-color: #EFEFEF;
	margin-bottom: 20px;
	border-top : 1px dotted #DDDDDD;
	border-bottom : 1px dotted #DDDDDD;
}

.box.social {
	height: 25px;
}

.fb-like {
	padding-top : 1px;
	float: left;
}

.tw-share {
	float: right;
	padding-top : 2px;
}

.box.tags {
	font-weight: bold;
	line-height: 1.25em;
	color: gray;
	padding-top: 3px;
	padding-bottom: 3px;
}

/** END: SOCIAL BOX **/


/** BLOCK: RELEVANT-CONTENT +  **/

.page-node .sidebar-second-region ul,
.page-taxonomy .sidebar-second-region ul {
	list-style-type: disc;
	list-style-image: url('../images/iconic/red/cd_8x8.png');
	list-style-position: outside;
}

.page-node .sidebar-second-region h2.block-title,
.page-taxonomy .sidebar-second-region h2.block-title {
	margin-bottom: 10px;
	text-align: right;
}
.page-node .sidebar-second-region ul li,
.page-taxonomy .sidebar-second-region ul li {
	margin-bottom: 4px;
	padding-bottom: 5px;
	border-bottom: 1px solid #EFEFEF;
	line-height: 1.25em;
}

/** END: RELEVANT-CONTENT **/

.not-front .region-sidebar-first {
	background-color : #EFEFEF;
	padding-bottom: 20px;
}

/** START : FOOTER **/

#block-articles-main-footer {
	font-family: "FuturaLT", "Helvetica", "Arial", sans-serif;
	color: #383838;
	background-color: #EFEFEF;
	padding: 15px;
}

#block-articles-main-footer .reg,
#block-articles-main-footer .info {
	margin-bottom: 20px;
}

#block-articles-main-footer .cc {
	background: url('../images/logo-creative-commons.gif') left center no-repeat;
	padding-left: 50px;
	height: 40px;
}

#block-articles-main-footer .cc p {
	margin: 0;
	padding: 5px 0;
}

#block-articles-main-footer .notes {
	margin-top: 5px;
	text-align: right;
}

#block-articles-main-footer .rss a {
	float: right;
	height: 24px;
	width: 24px;
	display: block;
	background-image: url('../images/rss_small_icon.gif');
}

/** END : FOOTER **/

/** FIRSTPAGE BLOCKS **/

.block-firstpage {
	margin-bottom: 25px;
}

.block-firstpage .node {
	margin: 10px 0;
	border: 0;
	border-bottom : 1px solid #DDDDDD;
	padding: 0;
	position: relative;
}

.block-firstpage .content .field-name-field-short{
	padding-bottom : 5px;
	line-height: 1.333em;
}

.block-firstpage ul.links li {
	float: right;
}

.block-firstpage ul li.last .content {
	border-bottom : 0;
}

.block-firstpage .time {
	color: red;
}

.block-firstpage .node h2.node-title {
	font-size: 1.083em;
	line-height: 1.167em;
	margin-bottom: 5px;
}

.block-firstpage h2.block-title{
	font-family: "FuturaLT", "Helvetica", "Arial", sans-serif;
	font-size: 1em;
	text-align: right;
	font-variant: small-caps;
	padding: 5px 10px;
}

.block-firstpage h2.block-title a {
	color: #000000;
	padding-right: 16px;
	background-image: url('../images/iconic/gray_light/arrow_right_alt1_12x12.png');
	background-repeat:no-repeat;
	background-position:center right;
}

.block-firstpage h2.block-title:first-letter,
.page-gsearch-result .content-region h1, h2.block-title:first-letter {
	color: #D61D00;
}

.block-firstpage h2.block-title a:hover {
	background-image: url('../images/iconic/red/arrow_right_alt1_12x12.png');
	color: #D61D00;
}

.block-firstpage .node img {
	float: right;
	margin-left: 5px;
	border: 3px solid #EFEFEF;
}

/** END: FIRSTPAGE BLOCKS **/

/** FIELDS **/

.block-firstpage .field-type-node-reference {
	margin-top: 5px;
}

.block-firstpage .field-type-node-reference .field-item {
	padding-left: 10px;
}
/** END: FIELDS **/

/* rubriche */

#block-firstpage-rubriche,
#block-firstpage-culturaspettacolo {
	border-color: #EFEFEF;
	background-color: #EFEFEF;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	padding-bottom: 10px;
}

#block-firstpage-rubriche .node a {
	text-shadow: 0px 1px 1px rgba(0, 0, 0, 0.2);
	color: #383838;
	font-size: 0.917em;
}

#block-firstpage-rubriche .node img {
	margin: 0;
}

#block-firstpage-rubriche .node h2.node-title {
	width: 210px;
	float: right;
	margin: 0;
	padding-top: 5px;
}

#block-firstpage-rubriche .node {
	margin: 5px 10px;
	padding: 0;
	border-bottom: 0;
	background: #FFFFFF;
	-webkit-border-top-right-radius: 5px;
	-webkit-border-bottom-right-radius: 5px;
	-moz-border-radius-topright: 5px;
	-moz-border-radius-bottomright: 5px;
	border-top-right-radius: 5px;
	border-bottom-right-radius: 5px;
}

#block-firstpage-rubriche .node img,
#block-firstpage-culturaspettacolo .node img {
	border: 0;
	float: left;
}

/* culturaspettacolo */

#block-firstpage-culturaspettacolo .node {
	margin: 5px 10px;
	height: 80px;
	border-bottom: 0;
	background-color: #FFFFFF;
	margin-bottom: 0;
}

#block-firstpage-culturaspettacolo .node h2 a {
	font-size: 0.917em;
	color: #FFFFFF;
}

#block-firstpage-culturaspettacolo .node h2 {
	position: absolute;
	padding: 5px;
	margin: 0;
	width: 270px;
	bottom: 0;
	left: 0;
	background: rgb(0, 0, 0);
	background: rgba(0, 0, 0, 0.6);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#99000000, endColorstr=#99000000);
	-ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr=#99000000, endColorstr=#99000000)";
	filter: alpha(opacity=60);
}

#block-firstpage-culturaspettacolo .node img {
	border: 0;
	margin: 0;
}

/** FORMS **/
.page-contact .region-content {
	font-family: "FuturaLT", "Helvetica", "Arial", sans
	margin: 30px 0;
}

.page-contact .region-content h1 {
	text-align: center;
	color: #000000;
}

.region-content form label {
	font-size: 1.667em;
	margin-bottom: 5px;
}

.region-content .form-type-checkbox label {
	font-size: 1em;
	line-height: 1em;
}

.region-content form {
	width: 500px;
	margin: auto;
}

.region-content .form form-item {
	margin-top: 15px;
}

.region-content form .form-type-textfield input,
.region-content form .form-type-textarea input {
	font-size: 1.667em;
	width: 100%;
}

.region-content form .form-actions {
	text-align: center;
}

.region-content form .form-actions input {
	font-size: 1.667em;
	line-height: 1em;
	margin-top: 20px;
	padding: 0 10px;
	cursor: pointer; 
}

.region-content form .description {
	font-size: 1.083em;
	background-color: #F2F2F2;
	border: 1px solid #DDDDDD;
	padding: 5px;
	margin: 5px 0 0 0;
}

#recaptcha_table {
	margin: auto!important;
}

/** END: FORMS **/

/** PAGE USER **/

.page-user .content-region form {
	font-family: "FuturaLT", "Helvetica", "Arial", sans
	margin-top: 30px;
	min-height: 400px;
}

.page-user .profile .field-name-field-name,
.page-user .profile .field-name-field-surname {
	font-size: 1.667em;
	line-height: 1.833em;
}

/** END: PAGE USER **/

.front .header-second-region .content {
	padding: 0 5px;
}

/** STATISTICS **/
ul.inline li.statistics_counter {
	position: absolute;
	top: 5px;
	left: -20px;
	padding: 12px 0 0 0;
	width: 20px;
	background: #FFFFFF url('../images/eye.png') no-repeat top center;
	text-align: center;
	color: #606060;
	font-weight: bold;
	font-size: 0.583em;
}

/** END: STATISTICS **/


/** SUBMENU **/
#block-user-toolbar-sub-menu {
	margin: 5px 0 0 0;
}

ul#sub-menu {
	margin: 0 0 5px 0;
	padding-left: 5px;
	height: 20px;
	width: 950px;
	overflow: hidden;
	line-height: 20px;
}

ul#sub-menu li {
	display: block;
	float: left;
	padding: 0 10px;
	margin: 0;
	background-color: #EFEFEF;
}

ul#sub-menu.location li {

}

ul#sub-menu.location li a {
 color: #606060;
 text-decoration: none;
}

ul#sub-menu.location li a:hover,
ul#sub-menu.location li a.active {
	color: #D61D00;
}

ul#sub-menu li.title {
	background-color: #D61D00;
	color: #FFFFFF;
	font-weight: bold;
}

ul#sub-menu li.triangle {
	border-color: transparent transparent transparent #EFEFEF;
	background-color: #FFFFFF;
	border-style: solid;
	border-width: 10px;
	height: 0;
	width: 0;
	margin: 0;
	padding: 0;
}

ul#sub-menu li.triangle.red {
	border-color: transparent transparent transparent #D61D00;
	background-color: #EFEFEF;
}

