/*
HOME #d61d00
SPORT #008000
RUBRICHE #0061a6
CRONACA #d1008b
ATTUALITA #3246ab
POLITICA #8f1ab6
CULTURASPETTACOLO #ad532f

OTHERS #066ec9 #4a7801 #333
*/

/** REGION MENU **/

#region-menu .primary-navigation {
	float : left;
}

#google-search {
	float: right;
}

#region-menu ul.main-menu {
	background: none;
	border: 0;
	padding: 0;
	margin-bottom: 1.5em;
	font-size: 1em;
	font-family: "Futura Book", "Futura Light", "Futura", "Futura Medium", "FuturaMedium", "Gill Sans", "Helvetica", "Arial", sans-serif;
}

#region-menu ul.main-menu li {
	padding: 0 5px;
	border-bottom: 3px solid #EFEFEF;
}

#region-menu ul.main-menu li.home.active,
#region-menu ul.main-menu li.home a {
	color: #d61d00;
	border-color: #d61d00;
}

.page-gsearch-result .content-region h1,
h2.block-title {
	font-family: "Futura Book", "Futura Light", "Futura", "Futura Medium", "FuturaMedium", "Gill Sans", "Helvetica", "Arial", sans-serif;
}

.page-gsearch-result .content-region h1 {
	font-size: 1.143em;
}

body.page-taxonomy .content-zone h1 {
	display: none;
}

body.page-taxonomy .breadcrumb {
	border-left: 3px solid #4A7389;
	padding: 0 10px;
	font-family: "Futura Book", "Futura Light", "Futura", "Futura Medium", "FuturaMedium", "Gill Sans", "Helvetica";
	font-size: 0.857em;
	line-height: 1em;
	margin-bottom: 10px;
}

body.page-taxonomy .breadcrumb a.active {
	font-size: 1.333em;
}

body.page-taxonomy-type-sport .breadcrumb,
body.page-taxonomy-type-sport .breadcrumb a,
#block-firstpage-sport .block-title,
#region-menu ul.main-menu li.sport.active,
#region-menu ul.main-menu li.sport a {
	color: #008000;
	border-color: #008000;
}

body.page-taxonomy-type-rubriche .breadcrumb,
body.page-taxonomy-type-rubriche .breadcrumb a,
#block-firstpage-rubriche .block-title,
#region-menu ul.main-menu li.rubriche.active,
#region-menu ul.main-menu li.rubriche a {
	color: #0061a6;
	border-color: #0061a6;
}

body.page-taxonomy-type-cronaca .breadcrumb,
body.page-taxonomy-type-cronaca .breadcrumb a,
#block-firstpage-cronaca .block-title,
#region-menu ul.main-menu li.cronaca.active,
#region-menu ul.main-menu li.cronaca a {
	color: #d1008b;
	border-color: #d1008b;
}

body.page-taxonomy-type-attualità .breadcrumb,
body.page-taxonomy-type-attualità .breadcrumb a,
#block-firstpage-attualita .block-title,
#region-menu ul.main-menu li.attualita.active,
#region-menu ul.main-menu li.attualita a {
	color: #3246ab;
	border-color: #3246ab;
}

body.page-taxonomy-type-politica .breadcrumb,
body.page-taxonomy-type-politica .breadcrumb a,
#block-firstpage-politica .block-title,
#region-menu ul.main-menu li.politica.active,
#region-menu ul.main-menu li.politica a {
	color: #8f1ab6;
	border-color: #8f1ab6;
}

body.page-taxonomy-type-culturaspettacolo .breadcrumb,
body.page-taxonomy-type-culturaspettacolo .breadcrumb a,
#block-firstpage-culturaspettacolo .block-title,
#region-menu ul.main-menu li.culturaspettacolo.active,
#region-menu ul.main-menu li.culturaspettacolo a {
	color: #ad532f;
	border-color: #ad532f;
}

#region-menu ul.main-menu li a {
	border:0;
	color: #000000;
	background: none;
}

#region-menu ul.main-menu li a:hover {
	color: #AAACAF;
}

#region-menu ul.main-menu li.has-subitems {
	background-image: url('../images/iconic/gray_light/play_6x8.png');
	background-repeat:no-repeat;
	background-position:center right;
}

#region-menu ul.secondary-items {
	background-color: #FFFFFF;
	border: 3px solid #EFEFEF;
	-webkit-border-bottom-right-radius: 5px;
	-webkit-border-bottom-left-radius: 5px;
	-moz-border-radius-bottomright: 5px;
	-moz-border-radius-bottomleft: 5px;
	border-bottom-right-radius: 5px;
	border-bottom-left-radius: 5px;
}

#region-menu ul.secondary-items li {
	border: 0;
}


/** END: REGION MENU **/

/** CONTEXTUAL LINKS **/

div.contextual-links-active {
	z-index: 9999;
}

a.contextual-links-trigger:link,
a.contextual-links-trigger:visited {
	color: #FFFFFF;
}

/** END: CONTEXTUAL LINKS **/

/** GENERAL STYLE **/
body {
	font-size: 14px;
	font-family: "Helvetica Neue", "Helvetica", "Arial", sans-serif;
	text-transform: normal;
	word-wrap: break-word;
}

a:link, a:visited {
	color: #0062A0;
	text-decoration: none;
}

a:hover {
	text-decoration: underline;
}

p {
	display:block;
	margin: 0 0 10px 0;
}

div#page {
	background: #EFEFEF url(../images/body-gray.png) repeat-y;
	background-position:50% 50%;
}

h1 {
	color: #4A7389;
	font-family: 'Georgia',serif;
	font-size: 2.571em; /* 36px */
	font-style: normal;
	font-variant: normal;
	font-weight: 400;
	letter-spacing: 0;
	text-align: left;
	text-decoration: none;
	text-indent: 0;
	text-transform: none;
	margin: 0;
	padding: 0;
}

blockquote {
	font-style: italic;
	font-weight: bold;
	margin: 0;
	padding-left: 50px;
	min-height: 50px;
	background: url('../images/blockquote.jpg') top left no-repeat;
	color: #797979;
	padding-top: 15px;
} 


/** END: GENERAL STYLE **/

/** TERMS SECTIONS **/

body.page-taxonomy .node {
	padding: 10px 0;
}

body.page-taxonomy .node.first,
body.page-taxonomy .node.over {
	border-bottom: 1px solid #DDDDDD;
}

body.page-taxonomy .submitted {
	text-align: right;
}

body.page-taxonomy .node .field-name-field-short {
	line-height: 1.429em;
}

body.page-taxonomy .node a.field-location {
	text-transform: uppercase;
	font-weight: bold;
	color: #000000;
}

body.page-taxonomy .node h2.node-title {
	font-size: 1.143em;
	line-height: 1.143em;
	margin-bottom: 3px;
}

body.page-taxonomy .node.first h2.node-title {
	font-size: 1.5em;
}

body.page-taxonomy .node .field-type-media {
	float: right;
}

body.page-taxonomy .node .field-type-media img {
	border: 2px solid #DDDDDD;
	padding: 0;
	margin: 5px;
}

body.page-taxonomy .node.first .field-type-media {
	float: left;
}

/** END TERM SECTIONS **/

/** NODE ARTICLES FULL **/

.article.full-view.node {
	border-bottom: 0;
}

.article.full-view.node p {
	margin-bottom: 20px;
}

.article.full-view.node .submitted {
	height: 15px;
}

.article.full-view.node .submitted .author {
	float: left;
}

.article.full-view.node .submitted .date {
	float: right;
}

.article.full-view a.field-location,
.article.full-view .field-name-body {
	font-size: 1.071em; /* 15px */
	line-height: 24px;
}

.article.full-view .field-name-field-short {
	display: block;
	color: #797979;
	font-family: 'Georgia-Italic','Georgia',serif;
	font-size: 18px;
	font-style: italic;
	line-height: 25px;
	text-align: left;
	margin-bottom: 5px;
	padding: 0;
}

.submitted {
	color: #797979;
	font-size: 11px;
	font-weight: normal;
	font-style: normal;
}

.article.full-view .field-name-field-media {
	float: left;
	padding: 0;
}

.article.full-view .field-name-field-tags {
	font-size: 0.857em; /* 12px */
	line-height: 0.857em;
	padding: 5px 0 5px 15px;
	background-color: #EFEFEF;
	border-top : 1px dotted #DDDDDD;
	border-bottom : 1px dotted #DDDDDD;
	margin: 15px 0;
}

.article.full-view .field-name-field-tags span {
	color: #696969;
}

.article.full-view .field-name-field-tags .field-items .field-item {
	/* float: left;*/
	display: inline-block;
	margin: 0 5px 0 0;
}

.article.full-view a.field-location {
	margin-right: 5px;
	font-variant: small-caps;
	float: left;
}

.article.full-view a.field-location:hover {
	text-decoration: none;
}


.article.full-view .fb-comments-title {
	font-family: "lucida grande",tahoma,verdana,arial,sans-serif;
	color: #3B5998;
	font-size: 1.286em;
	margin: 20px 0;
}


.article.full-view .field-type-node-reference .field-item {
	line-height: 1.571em; /* 22px */
}

/** END: NODE ARTICLES FULL **/

/** BLOCKS **/

.block {
	margin-top: 10px;
}

/** END: BLOCKS **/

/** TABS **/

/** END: TABS **/

/** USER TOOLBAR **/

#user-toolbar {
	height: 20px;
	font-size: 0.8em;
}

#user-toolbar ul {
	margin: 0;
}

#user-toolbar ul li {
	color: #FFFFFF;
	float: right;
	display: inline-block;
	position: relative;
	padding: 2px 0;
	margin: 0;
}

#user-toolbar ul li a {
	color: #FFFFFF;
	font-weight: bold;
}

#user-toolbar-login {
	width: 200px;
	z-index: 9999;
	background: #000000;
	overflow: hidden;
	position: absolute;
	padding: 10px;
	right: -10px;
	-webkit-border-bottom-right-radius: 5px;
	-webkit-border-bottom-left-radius: 5px;
	-moz-border-radius-bottomright: 5px;
	-moz-border-radius-bottomleft: 5px;
	border-bottom-right-radius: 5px;
	border-bottom-left-radius: 5px;
	display: none;
}

#user-toolbar-login .form-item input {
	width: 190px;
}

#user-toolbar-login .form-actions {
	text-align: center;
}

#user-toolbar-login .form-actions input {
	cursor: pointer;
	color: #FFFFFF;
	line-height: 25px;
}

/** END: USER TOOLBAR **/

/** PAGE TITLE **/
	
.page-contact h1.title {
	font-family: Delicious, Verdana, Arial;
	text-align: center;
}

/** END: PAGE TITLE **/

/** RECAPTCHA **/



/** END: RECAPTCHA **/

/** ICONS **/

#message-container .close,
#console .close {
	position: absolute;
	height: 11px;
	width: 11px;
	top: 5px;
	right: 5px;
	background: url('../images/iconic/gray_light/x_11x11.png') no-repeat center left;
	cursor: pointer;
}

#message-container .close.hover,
#console .close.hover {
	background: url('../images/iconic/gray_dark/x_11x11.png') no-repeat center left;
}

#main-content ul.links li.disqus_comments_num a,
ul.links li.disqus_comments_num a {
	color: #AAACAF;
	font-size: 11px;
	font-weight: bold;
	padding: 0 0 0 15px;
	background: url('../images/iconic/gray_light/comment_stroke_12x11.png') no-repeat center left;
	text-decoration: none;
	border: 0;
}

#main-content ul.links li.disqus_comments_num a:hover,
ul.links li.disqus_comments_num a:hover {
	background: url('../images/iconic/gray_light/comment_fill_12x11.png') no-repeat center left;	
}

#user-toolbar ul li a.logout-link,
#user-toolbar ul li a.login-link {
	display: block;
	text-indent: -9999px;
}

#user-toolbar ul li a.logout-link {
	height: 16px;
	width: 16px;
	background: url('../images/iconic/gray_light/x_alt_12x12.png') no-repeat;
}

#user-toolbar ul li a.logout-link:hover {
	background: url('../images/iconic/red/x_alt_12x12.png') no-repeat;
}

#user-toolbar ul li a.login-link {
	height: 16px;
	width: 16px;
	background: url('../images/iconic/gray_light/user_12x16.png') no-repeat;
}

#user-toolbar ul li a.login-link:hover {
	background: url('../images/iconic/green/user_12x16.png') no-repeat;
}

.block-firstpage .field-type-node-reference .field-item {
	background: url('../images/iconic/red/info_4x8.png') no-repeat center left;
}

/** END: ICONS **/

/** EFFECTS **/

.alpha60 {
	/* Fallback for web browsers that doesn't support RGBa */
	background: rgb(0, 0, 0);
	/* RGBa with 0.6 opacity */
	background: rgba(0, 0, 0, 0.6);
	/* For IE 5.5 - 7*/
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#99000000, endColorstr=#99000000);
	/* For IE 8*/
	-ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr=#99000000, endColorstr=#99000000)";
}

/** END: EFFECTS **/

div.status {
	background-color: #BBEE77;
}

div.messages {
	margin: 0;
}

/** START: FIELDS **/

.block-firstpage .field-type-node-reference .field-item {
	padding-left: 10px;
	font-size: 0.857em;
}

/** END: FIELDS **/

/** SOCIAL BOX **/

.box {
	height: 20px;
	line-height: 1.429em; /* 20px */
	padding: 5px 0 5px 15px;
	background-color: #EFEFEF;
	margin-bottom: 10px;
	border-top : 1px dotted #DDDDDD;
	border-bottom : 1px dotted #DDDDDD;
}

.social .tw-share {
	float: right;
}
.social .fb-like {
	float: left;
}

/** END: SOCIAL BOX **/


/** BLOCK: RELEVANT-CONTENT +  **/

#block-node-recent ul,
#block-relevant-content-related-type ul {
	list-style-type: disc;
	list-style-image: url('../images/iconic/red/cd_8x8.png');
	list-style-position: outside;
}

#block-node-recent h2.block-title,
#block-relevant-content-related-type h2.block-title {
	margin-bottom: 10px;
	text-align: right;
}

#block-node-recent ul li,
#block-relevant-content-related-type ul li {
	margin-bottom: 4px;
	padding-bottom: 5px;
	border-bottom: 1px solid #EFEFEF;
	line-height: 1.143em;
}

/** END: RELEVANT-CONTENT **/

.not-front .region-sidebar-first {
	background-color : #EFEFEF;
	padding-bottom: 20px;
}

/** START : FOOTER **/

#block-articles-main-footer {
	font-family: "Futura Book", "Futura Light", "Futura", "Futura Medium", "FuturaMedium", "Gill Sans", "Helvetica", "Arial", sans-serif;
	color: #383838;
	background-color: #EFEFEF;
	padding: 15px;
}

#block-articles-main-footer .reg,
#block-articles-main-footer .info {
	margin-bottom: 20px;
}

#block-articles-main-footer .cc {
	font-size: 0.857em;
	line-height: 1.143em;
	background: url('../images/logo-creative-commons.gif') left center no-repeat;
	padding-left: 50px;
	height: 40px;
}

#block-articles-main-footer .cc p {
	margin: 0;
	padding: 5px 0;
}

/** END : FOOTER **/

