#block-firstcarousel-carousel {
	/*border: 1px solid #DDDDDD;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;	*/
}

/* root element for the scrollable. when scrolling occurs this element stays still.*/
#block-firstcarousel-carousel .scrollable {
	/* required settings */
	position:relative;
	overflow:hidden;
	width: 630px;
	height:250px;
}

/* root element for scrollable items. */
#block-firstcarousel-carousel .scrollable .items {
	width:20000em;
	position:absolute;
	clear:both;
}

#block-firstcarousel-carousel .items div {
	float:left;
	width:470px;
}

/* single scrollable item */
#block-firstcarousel-carousel .scrollable .item {
	float:left;
	margin:5px;
	width:620px;
	height:240px;
	overflow: hidden;
	position: relative;
}

#block-firstcarousel-carousel .scrollable .item a {
	display: table-cell;
	vertical-align:middle;
	/* display: block; */
	height: 240px;
	width: 620px;
	text-decoration: none;
	color: #FFFFFF;
}

#block-firstcarousel-carousel .scrollable .item a img {
	display:block;
	margin:auto;
}

#block-firstcarousel-carousel .scrollable .item h3 {
	font-size: 16px;
	line-height: 20px;
	margin: 0;
	font-weight: bold;
}

#block-firstcarousel-carousel .scrollable .item p {
    display:none;
}

#block-firstcarousel-carousel .scrollable .item span {
	position: absolute;
	bottom: 0;
	left: 0;
	width: 600px;
	padding: 5px 10px;
}

/* position and dimensions of the navigator */
#block-firstcarousel-carousel .navi {
	text-align: center;
	height: 17px;
}

/* items inside navigator */
#block-firstcarousel-carousel .navi a {
	width:8px;
	height:8px;
	/* float:left;*/
	margin:3px;
	background:url(images/navigator.png) 0 0 no-repeat;
	display: inline-block;
	font-size:1px;
}

/* mouseover state */
#block-firstcarousel-carousel .navi a:hover {
	background-position:0 -8px;
}

/* active state (current page state) */
#block-firstcarousel-carousel .navi a.active {
	background-position:0 -16px;
}




