.region-content form {
	width: 600px;
	margin: auto;
}

.region-content form .form-actions input,
.region-content form .form-item {
	font-size: 20px;
}

.region-content form .form-item input {
	font-size: 20px;
	line-height: 25px;
	width: 100%;
}

.region-content form .form-actions {
	text-align: center;
}

.region-content form .form-actions input {
	margin-top: 20px;
	padding: 0 10px;
	cursor: pointer; 
}

.region-content form .description {
	font-size: 13px;
	background-color: #F2F2F2;
	border: 1px solid #DDDDDD;
	padding: 5px;
	margin: 5px 0 0 0;
	
}
