/** FIRSTPAGE BLOCKS **/

.block-firstpage .node {
	margin: 10px;
	border: 0;
	font-size: 14px;
	line-height: 16px;
	border-bottom : 1px solid #DDDDDD;
	padding: 0;
}

.block-firstpage .content {
	padding-bottom : 5px;
}

.block-firstpage ul.links li {
	float: right;
}

.block-firstpage ul li.last .content {
	border-bottom : 0;
}

.block-firstpage .time {
	color: red;
}

.block-firstpage .node h2 {
	font-size: 16px;
	margin-bottom: 5px;
	line-height: 16px;
}

.block-firstpage {
	border: 1px solid #DDDDDD;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
}

.block-firstpage h2.block-title{
	font-family: Delicious, Verdana, Arial;
	font-size: 15px;
	text-align: right;
	font-variant: small-caps;
	padding: 0 5px;
}

.block-firstpage .node img {
	float: left;
	margin-right: 3px;
	border: 2px solid #DDDDDD;
}

/** END: FIRSTPAGE BLOCKS **/

/** FIELDS **/

.block-firstpage a.field-location {
	text-transform: uppercase;
	font-size: 10px;
	font-weight: bold;
	color : #000000;
	margin-right: 3px;
}

.block-firstpage a.field-location:hover {

}

/** END: FIELDS **/
